[Desktop Entry]
Categories=System;
Exec=/usr/bin/jbackpack
Icon=/usr/share/icons/jbackpack.png
GenericName=Backup & Restore
GenericName[de]=Datensicherung & Wiederherstellung
Name=JBackpack
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Type=Application
