[Desktop Entry]
Categories=System;
Exec=/usr/bin/jbackpack
Icon=/usr/share/icons/jbackpack.png
Name=Backup & Restore
Name[de]=Datensicherung & Wiederherstellung
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Type=Application
