[Desktop Entry]
Categories=System;
Exec=pkexec /usr/bin/jbackpack --restoreOnly
Icon=jbackpack
GenericName=Restore with administrative rights
GenericName[de]=Wiederherstellung mit Administratorrechten
Name=JBackpack (Admin)
StartupNotify=true
StartupWMClass=ch-fhnw-jbackpack-JBackpack
Type=Application
OnlyShowIn=GNOME;
