Source: jbackpack
Section: utils
Priority: optional
Maintainer: Ronny Standtke <Ronny.Standtke@gmx.net>
Build-Depends: debhelper (>= 7), ant-optional, junit, java-sdk
Standards-Version: 3.8.0
Homepage: http://www.imedias.ch/lernstick

Package: jbackpack
Architecture: all
Depends: java-runtime, rdiff-backup, sshfs, expect, encfs, rsync, cifs-utils
Description: a graphical frontend for rdiff-backup
 JBackpack is a graphical frontend for rdiff-backup. It supports most command
 line options of rdiff-backup and adds the possibility to browse remote backup
 destination folders via sshfs and encryption of the backup destination folder
 with the help of encfs.

Package: jbackpack-full
Architecture: all
Depends: jbackpack
Description: a menu entry for the full JBackpack version
 This package installs a menu entry for the full JBackpack version.

Package: jbackpack-restore
Architecture: all
Depends: jbackpack
Description: a menu entry for the restore-only JBackpack version
 This package installs a menu entry for the restore-only JBackpack version.

Package: jbackpack-restore-admin
Architecture: all
Depends: jbackpack
Description: a menu entry for the restore-only JBackpack version with administrative rights
 This package installs a menu entry for the restore-only JBackpack version with
 administrative rights.
